# Supabase (required for auth)
NEXT_PUBLIC_SUPABASE_URL=https://acbyuwvskzvxceozkpla.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_secret_Akf-4jyeTkaI0325qg38Wg_vxmMyOR4

# Backend
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000

# Telegram (optional)
NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=Sentinel_budget_bot




# # Supabase Configuration
# SUPABASE_URL=https://acbyuwvskzvxceozkpla.supabase.co
# SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFjYnl1d3Zza3p2eGNlb3prcGxhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkyNDU1MzgsImV4cCI6MjA4NDgyMTUzOH0.-iEJlYJaOOjvBaqWt8nEvfE09R4lyNoNm-t4OoZ3jFM
# SUPABASE_ANON_KEY=sb_secret_Akf-4jyeTkaI0325qg38Wg_vxmMyOR4
