.env

.env.example
__pycache__/
*.pyc


# Node
node_modules/
**/node_modules/

# Python
__pycache__/
*.pyc


.env.*
.env.example




# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# =========================
# OS / Editor
# =========================
.DS_Store
.idea/
.vscode/

# =========================
# Logs & temp
# =========================
*.log
tmp/
.cache/