fastapi
uvicorn[standard]
gunicorn
python-dotenv
supabase
python-telegram-bot
Pillow
pydantic
pydantic-settings
pydantic[email]
aiohttp
requests
APScheduler
httpx
openai
python-multipart
opik
litellm
transformers
torch
pytesseract==0.3.10
opencv-python-headless==4.8.1.78
